In [62]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df=pd.read_csv('Bengaluru_House_Data.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [64]:
#EDA
df.shape

(13320, 9)

In [65]:
df.isnull().mean()*100

area_type        0.000000
availability     0.000000
location         0.007508
size             0.120120
society         41.306306
total_sqft       0.000000
bath             0.548048
balcony          4.572072
price            0.000000
dtype: float64

In [66]:
df['area_type'].value_counts()

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64

In [69]:
#df.drop(columns=["availability","area_type","society","balcony",axis=1,inplace=True])

In [70]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [71]:
df.dropna(inplace=True)
df.isnull().sum()

area_type       0
availability    0
location        0
size            0
society         0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [72]:
df.shape

(7496, 9)

In [73]:
df['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '3 Bedroom', '1 RK', '4 BHK',
       '1 BHK', '5 BHK', '11 BHK', '5 Bedroom', '9 BHK', '2 Bedroom',
       '6 BHK', '7 BHK', '6 Bedroom'], dtype=object)

In [74]:
df['bhk']=df['size'].apply(lambda x:int(x.split(' ')[0]))

In [75]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,4
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,3
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00,2
11,Plot Area,Ready To Move,Whitefield,4 Bedroom,Prrry M,2785,5.0,3.0,295.00,4

In [76]:
df.drop(columns=['size'],axis=1,inplace=True)

In [77]:
df.shape

(7496, 9)

In [78]:
df[df.bhk>22]

Empty DataFrame
Columns: [area_type, availability, location, society, total_sqft, bath, balcony, price, bhk]
Index: []

In [79]:
df.total_sqft.unique()

array(['1056', '2600', '1521', ..., '1919', '2111', '4689'], dtype=object)

In [80]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [81]:
df[~df['total_sqft'].apply(is_float)].head(10)

,area_type,availability,location,society,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,LedorSa,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,18-Mar,Hebbal,SNontle,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,Vaarech,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,Kinuerg,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,MCvarar,1015 - 1540,2.0,0.0,56.800,2
549,Super built-up Area,18-Sep,Hennur Road,Shxorm,1195 - 1440,2.0,0.0,63.770,2
661,Super built-up Area,Ready To Move,Yelahanka,Rarthne,1120 - 1145,2.0,0.0,48.130,2
672,Built-up Area,18-Mar,Bettahalsoor,Toainnt,3090 - 5002,4.0,0.0,445.000,4
772,Super built-up Area,20-Dec,Banashankari Stage VI,Brens7,1160 - 1195,2.0,0.0,59.935,2
850,Super built-up Area,22-Dec,Bannerghatta Road,PrarePa,1115 - 1130,2.0,0.0,58.935,2

In [82]:
def convert_sqft_into_number(x):
    token=x.split('-')
    if len(token)==2:
        return (float(token[0]) + float(token[1])) /2
    try:
        return float(x)
    except :
        return None

In [83]:
df1 =df.copy()
df1['total_sqft'] =df1['total_sqft'].apply(convert_sqft_into_number)

In [84]:
df1.loc[30]

area_type       Super built-up  Area
availability                  19-Dec
location                   Yelahanka
society                      LedorSa
total_sqft                    2475.0
bath                             4.0
balcony                          0.0
price                          186.0
bhk                                4
Name: 30, dtype: object

In [85]:
df2 =df1.copy()
df2['price_per_sqft'] =df2['price']*100000/df2['total_sqft']
df2.head()

,area_type,availability,location,society,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,Coomee,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,Theanmp,2600.0,5.0,3.0,120.00,4,4615.384615
3,Super built-up Area,Ready To Move,Lingadheeranahalli,Soiewre,1521.0,3.0,1.0,95.00,3,6245.890861
5,Super built-up Area,Ready To Move,Whitefield,DuenaTa,1170.0,2.0,1.0,38.00,2,3247.863248
11,Plot Area,Ready To Move,Whitefield,Prrry M,2785.0,5.0,3.0,295.00,4,10592.459605

In [86]:
loc_less_than_10=loc_stats[loc_stats<=10]
loc_less_than_10

NameError: name 'loc_stats' is not defined

In [87]:
loc_stats[loc_stats<=10]

NameError: name 'loc_stats' is not defined

In [ ]:
df3=df2[~(df2.total_sqft/df2.bhk<300)]
df3.shape

In [ ]:
df3.price_per_sqft.describe()

In [ ]:
def remove_outlier_from_price_per_sqft(df):
    df_out=pd.DataFrame()
    for key,sub in df.groupby('location'):
        m =np.mean(sub.price_per_sqft)
        st=np.std(sub.price_per_sqft)
        reduce_df=sub[(sub.price_per_sqft>(m-st) & (sub.price_per_sqft<=(m+st)))]
        df_out=pd.concat([df_out,reduce_df],ignore_index=True)
    return df_out

In [ ]:
df4 =remove_outlier_from_price_per_sqft(df3)
df4.shape